:root {
    background: #252525;
    color: #a5e3ff;
    text-align: center;
    --width-primary: 250px;
    --size-font: 22px
}
/*ТЕКСТ*/
.limited_center_header{
    display: flex;
    justify-content: center;
    text-align: center;
    width: var(--width-primary);
}

header p{
    font-size: 12px;
}
header img{
    width: calc(var(--width-primary)*(3.5/5));
}

/*Доминирует *нижний* уровень (чисто p  > header p) позиция*/

main p{
    color: #ff5959;
}
article{
    color: #ffff4b;
    font-size: var(--size-font);
}

/* ССЫЛКИ*/

a {
    outline: none;
}
a:link{
    color: inherit;
}
a:visited{
    text-decoration: none;
    outline: none;
    color: inherit;
}
header h1 a:visited:hover{
    background: #ff5959;
}
header h1 a:hover{
    background: #7b9167;
}
